@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka+One&family=Oswald:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(40, 0, 77);
}

header {
    background-color: indigo;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
}

.header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: green;
}

.logo {
    color: white;
    font-family: 'Fredoka One', 'Montserrat', 'Poppins', Arial, Tahoma;
}

.bar {
    width: 150px;
    height: 2px;
    background-color: rgb(255, 0, 191);
    margin: auto;
}

.menus a {
    color: white;
    text-decoration: none;
    margin: 15px;
    padding: 10px;
    font-family: 'Fredoka One', 'Montserrat', 'Poppins', tahoma, verdana, arial;
}

.redes a {
    margin: 2px;
    padding: 3px;
}

.redes img {
    transition: 0.5s;
}

.redes img:hover {
    transform: translateY(-10px);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px;
    color: white;
    align-items: center;
}

.img img {
    border-radius: 25px;
    transition: 0.5s;
    filter: brightness(50%);
}

.img img:hover {
    border-radius: 50px;
    transform: translateY(-10px);
    filter: brightness(100%);
}

#sobre {
    transition: 0.5s;
}

#sobre h1, p {
    font-family: 'Fredoka One', 'Montserrat', 'Poppins', tahoma, verdana, arial;
}

#sobre:hover {
    color: grey;
}

#infos {
    font-family: 'Fredoka One', 'Montserrat', 'Poppins', tahoma, verdana, arial;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    padding: 15px;
    margin: 15px;
}

#onde {
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Fredoka One', 'Montserrat', 'Poppins', tahoma, verdana, arial;
}

#galeria {
    padding:105px 0;
}

#galeria {
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Fredoka One', 'Montserrat', 'Poppins', tahoma, verdana, arial;
}

.dis {
    color: grey;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
}

#card img {
    border-radius: 20px;
    filter: brightness(0.5);
    transition: 0.5s;
}

#card img:hover {
    border-radius: 50px;
    filter: brightness(1);
    transform: translateY(-15px);
    box-shadow: 1px 1px 55px black;
}

#info-value {
    text-align: center;
    color: white;
    font-family: 'Fredoka One', 'Montserrat', 'Poppins', tahoma, verdana, arial;
    margin: 35px;
}

#info-value p {
    line-height: 40px;
}

#websx {
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Fredoka One', 'Montserrat', 'Poppins', tahoma, verdana, arial;
    padding: 15px;
    margin: 10px;
}

#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    background-color: indigo;
    padding: 15px;
    border-radius: 25px;
}

.card img {
    border-radius: 25px;
    transition: 0.5s;
}

#pacotes {
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Fredoka One', 'Montserrat', 'Poppins', tahoma, verdana, arial;
    padding: 15px;
    margin: 10px;
}

#packs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#pack {
    background-color: indigo;
    padding: 15px;
    border-radius: 25px;
}

#pack img {
    border-radius: 25px;
    transition: 0.5s;
}

.link {
    margin: 25px;
    padding: 20px;
    border: 1px solid grey;
    transition: 0.5s;
}

.link:hover {
    background-color: blueviolet;
    text-shadow: 1px 1px 25px black;
}

.link a {
    text-decoration: none;
    color: white;
}

#pagamento {
    color: white;
    text-align: center;
    font-family: 'Fredoka One', 'Montserrat', 'Poppins', tahoma, verdana, arial;
}

#formas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#depoimentos {
    color: white;
    text-align: center;
    font-family: 'Fredoka One', 'Montserrat', 'Poppins', tahoma, verdana, arial;
}

#depo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#depo img {
    background-color: indigo;
    border-radius: 25px;
    padding: 10px;
    transition: 0.5s;
}

#depo img:hover {
    transform: translateY(-10px);
}

#disqus_thread {
  width: 900px;
  margin: auto;
  padding: 15px;
}

footer {
  padding: 50px;
  color: white;
  text-align: center;
  background-color: blueviolet;
  font-family: 'Fredoka One', 'Montserrat', 'Poppins', tahoma, verdana, arial;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a {
  transition: 1s;
}

footer a:hover {
  color: rgb(11, 0, 128);
}

@media screen and (max-width: 415px) {
    header{
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .menus {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ps {
        width: 413px;
        font-size: 14px;
        line-height: 25px;
    }

    .redes {
        margin: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .menus a {
        font-size: 8px;
    }

    #infos {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .dispo {
        padding: 35px 0 0 0;
    }

    /*SESSÕES WEB SEXO*/
    #cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .card img {
        width: 285px;
    }
    /*SESSÕES WEB SEXO*/
    
    /*GALERIA DE AMOSTRAS*/
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1px;
        margin: 5px;
    }

    #card {
        padding: 15px;
        margin: 15px;
    }
    /*GALERIA DE AMOSTRAS*/

    #pacotes {
        margin: auto;
        text-align: center;
        width: 355px;
    }

    #packs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #pack {
        padding: 1px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #pack img {
        width: 325px;
        padding: 2px;
    }

    #formas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #pagamento {
        margin: auto;
    }

    #pagamento p {
        width: 355px;
        margin: auto;
        font-size: 15px;
    }

    #depo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #disqus_thread {
        width: 302px;
        padding: 0;
        margin: auto;
    }

    footer {
        padding: 15px;
        font-size: 10px;
    }
}

@media screen and (max-width: 375px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menus a {
        font-size: 13px;
        margin: 1px;
        text-align: center;
    }
}
